@font-face {
    font-family: 'norsebold';
    src: url('/fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.left-section{
    background-image: url(photos/staircase.jpg);
    background-size: cover;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 60vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
}

.logo-image{
    max-width: 100%;
    max-height: 100%;
}

.logo-container{
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text{
    color: white;
    font-family: 'norsebold', 'Roboto', sans-serif;
    font-size: 80px;
}

.photo-credit,
.photo-credit > a{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 100;
}